service: photon-keyserver
app: photon-keyserver
org: tankred

plugins:
  - serverless-offline
  - serverless-mocha-plugin
  - serverless-dynamodb-local

provider:
  name: aws
  runtime: nodejs12.x
  stage: dev
  region: eu-central-1
  environment:
    TWILIO_ACCOUNT_SID: ${param:TWILIO_ACCOUNT_SID}
    TWILIO_AUTH_TOKEN: ${param:TWILIO_AUTH_TOKEN}
    TWILIO_FROM_NUMBER: ${param:TWILIO_FROM_NUMBER}
    DYNAMODB_TABLE_KEY: ${self:service}-${opt:stage, self:provider.stage}-key
    DYNAMODB_TABLE_USER: ${self:service}-${opt:stage, self:provider.stage}-user
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource:
        - "arn:aws:dynamodb:${opt:region, self:provider.region}:*:table/${self:provider.environment.DYNAMODB_TABLE_KEY}"
        - "arn:aws:dynamodb:${opt:region, self:provider.region}:*:table/${self:provider.environment.DYNAMODB_TABLE_USER}"

functions:
  createKey:
    handler: handler.createKey
    events:
     - http:
         path: /v1/key
         method: post
  getKey:
    handler: handler.getKey
    events:
     - http:
         path: /v1/key/{keyId}
         method: get
  verifyKey:
    handler: handler.verifyKey
    events:
     - http:
         path: /v1/key/{keyId}
         method: put

resources:
  Resources:
    KeyDynamoDbTable:
      Type: 'AWS::DynamoDB::Table'
      DeletionPolicy: Retain
      Properties:
        AttributeDefinitions:
          -
            AttributeName: id
            AttributeType: S
        KeySchema:
          -
            AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        TableName: ${self:provider.environment.DYNAMODB_TABLE_KEY}
    UserDynamoDbTable:
      Type: 'AWS::DynamoDB::Table'
      DeletionPolicy: Retain
      Properties:
        AttributeDefinitions:
          -
            AttributeName: id
            AttributeType: S
        KeySchema:
          -
            AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        TableName: ${self:provider.environment.DYNAMODB_TABLE_USER}

custom:
  dynamodb:
    stages:
      - dev
    start:
      port: 8000
      inMemory: true
      heapInitial: 200m
      heapMax: 1g
      migrate: true
      seed: true
      convertEmptyValues: true